{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
   

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_details_header">
                                
                                    <div class="job_sumary ">
                                        <div class="summery_header ">
                                            <h2 class="text-center">Job Applicants</h2>
                                        </div>
                                        <div class="job_content">
                                           
                                            <ul>
                                            {% for item in applicants %}
                                                <li>name <strong style="color: black;"> {{item.name}}</strong> </li>
                                                <li>Email <strong style="color: black;"> {{item.email}}</strong> </li>
                                                <li>Portfolio <strong style="color: black;"> {{item.portfolio}}</strong> </li>
                                                <li>CV <strong style="color: black;"><a href="{{item.cv.url}}" target="_blank" class="boxed-btn3 w-20 " > {{item.name}} CV </a> </strong> </li>
                                                <li>Cover letter <strong style="color: black;"> {{item.coverletter}}</strong> </li>
                                                <li>Applied At <strong style="color: black;"> {{item.apply_at}}</strong> </li>
                                                <hr>
                                            {% endfor %}
                                            </ul>
                                        </div>
                        
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                
                    
                </div>
             
            </div>
        </div>
    </div>

   {% endblock %}



