{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}


{% block content %}
   

    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>Welcom {{profile.user}} ^^</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->

    <div class="job_details_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job_details_header">
                                
                                    <div class="job_sumary ">
                                        <div class="summery_header ">
                                            <h2 class="text-center">{{profile.user}} Posted jobs</h2>
                                        </div>
                                        <div class="job_content">
                                           
                                            <ul>
                                            {% for item in posted %}
                                                <li><span><strong><a href= "{% url 'job:job_details' item.slug %}"> {{item.title}} <img src="{{item.image.url}}" alt="" height="80px" width="80px" >
                                                </strong></span></li>
                                                <br> <br>
                                             <a href="{% url 'accounts:job_applicants' item.pk %}" class="boxed-btn3 w-100">Applications</a> <br> <br>

                                            {% endfor %}
                                            </ul>
                                        </div>
                        
                                </div>
                                
                            </div>
                           
                        </div>
                    </div>
                
                    
                </div>
             
            </div>
        </div>
    </div>

   {% endblock %}



